body {
  background-image: url("../css/Assets/rickMortyWallpaper1.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding: 20px;
  margin: 0;
  min-height: 100vh;
}

.containerLogo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  width: 100%;
}

.title {
  max-width: 550px;
  margin-top: 30px;
  position: relative;
  left: 150px;
}

.logo {
  max-width: 300px;
  margin-top: 270px;
  position: relative;
  right: 290px;
}

#subtitle {
  color: #ffffff;
  font-weight: bold;
  font-size: 20px;

  margin-top: 140px;
  position: relative;
  left: 580px;
  max-width: 300px; 
  max-height: 20px;
}

#gamePoints {
  display: none;
  color: #ffffff; 
  font-weight: bold; 
  font-size: 24px; 
  position: relative;
  top: -200px;
  left: 350px;
  max-width: 300px;
  max-height: 20px;
  text-shadow: 2px 2px 4px rgb(72, 255, 0); 
}

#allTime-gamePoints {
  display: block;
  color: #ffffff; 
  font-weight: bold; 
  font-size: 24px; 
 
  position: absolute;
  right: 150px;
  top: 100px;

  max-width: 300px;
  max-height: 20px;
  text-shadow: 2px 2px 4px rgb(72, 255, 0); 
}

#login-warning {
  display: block;
  background-color: #FDF7DF;
  border: 1px solid #FEEC6F;
  color: #C9971C;
  font-weight: bold;
  font-size: 18px;

  position: absolute;
  top: 140px;
  right: 165px;

  max-width: 150px;
  border-radius: 5px;
  width: auto;
  height: auto;
  padding: 10px;
  margin: 10px;
  background-color: rgba(253, 247, 223, 0.8); 
  border: 1px solid rgba(254, 236, 111, 0.8);
}

#tableTitle {
  text-align: center;
  font-size: 28px;
  color: #000000;
  margin-top: 30px;
  letter-spacing: 0.05em;
  font-weight: bold;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;

  position: absolute;
  right: 100px;
  top: 200px;

  background: linear-gradient(90deg, #2e7d32, #66bb6a);
  padding: 10px 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(146, 94, 94, 0.2);
  transition: background 0.3s ease, transform 0.3s ease;
}

#tableTitle:hover {
  background: linear-gradient(90deg, #66bb6a, #2e7d32);
  transform: scale(1.05);
}

#tableTitle:before {
  margin-right: 10px;
}

#playersTable {
  display: block;
  position: absolute;
  right: 52px;
  top: 250px;
  width: 30%;
  height: 3px;
  margin: 40px auto;
  border-collapse: collapse;
  background-color: #f8f9fa;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  
}

#playersTable th {
  background-color: #343a40;
  color: white;
  text-align: left;
  padding: 15px;
  font-size: 18px;
  letter-spacing: 0.05em;
}

#playersTable td {
  padding: 15px;
  font-size: 16px;
  color: #343a40;
  border-bottom: 1px solid #e0e0e0;
}

#playersTable tr:nth-child(even) {
  background-color: #f1f1f1;
}

#playersTable tr:hover {
  background-color: #e9ecef;
  cursor: pointer;
  transition: background-color 0.3s;
}

.nick {
  font-weight: bold;
  color: #007bff;
  text-transform: capitalize;
}

#expandIcon {
  margin-left: 10px;
  width: 20px;
  transition: transform 0.3s;
}

#expandIcon.expanded {
  transform: rotate(180deg);
}

#userName {
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
  font-weight: bold;
  color: #ffffff;
  position: absolute; 
  top: 80px;
}

#login-icon {
  cursor: pointer;
  display: inline-block;
  max-width: 80px;
  position: absolute; 
  top: 50px;
  left: 350px;
  transition: transform 0.3s ease, color 0.3s ease;
}

#login-icon:hover {
  transform: scale(1.15); 
}

.loginDropdown-content {
  display: none;
  position: absolute;
  background-color: #fff;
  min-width: 200px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.1);
  padding: 20px;
  z-index: 1;
  border-radius: 8px;
  border: 1px solid #ddd;

  margin-top: 15px;
  left: 260px;
}

.loginDropdown-content button {
  display: block;
  width: 100%;
  padding: 12px 16px;
  margin-top: 10px;
  border: none;
  border-radius: 4px;
  background-color: #28a745; 
  color: white;
  cursor: pointer;
  text-align: center;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.loginDropdown-content button:first-child {
  margin-top: 0;
}

.loginDropdown-content button:hover {
  background-color: #218838; 
  transform: translateY(-2px);
}

.button-game {
  width: 320px;
  height: 60px;
  cursor: pointer;

  max-width: 300px;
  margin-top: 40px;
  position: relative;
  left: 565px;
}

.button-game img {
  display: block;
  width: 320px;
  height: 60px;
  object-fit: cover;
}

.button-title,
.button-description {
  position: absolute;
  bottom: 10px; 
  left: 100px; 
  color: #fff;
}

.button-title {
  font-size: 22px; 
  font-weight: bold; 
  position: relative;
  top: -60px;
  right: 102px;
}

.button-description {
  font-size: 14px; 
}

@keyframes anima {
  0% {
      transform: scale(1);
  }

  100% {
      transform: scale(1.05);
  }
}

.button-game:hover {
  animation-name: anima;
  animation-duration: 0.5s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}


.button-game-progress {
  width: 320px;
  height: 60px;
  cursor: pointer;

  max-width: 300px;
  margin-top: 40px;
  position: relative;
  left: 565px;
}

.button-game-progress img {
  display: block;
  width: 320px;
  height: 60px;
  object-fit: cover;
}

.game-modes-container {
  display: none;
  flex-wrap: wrap; 
  justify-content: center;
  align-items: center;
  flex-direction: row;
  position: fixed; 
  top: 60%; 
  left: 50%; 
  transform: translate(-50%, -50%);
  margin: 0;
  border: 0;
}

.game-mode-box {
  width: 250px;
  padding: 20px;
  margin: 15px;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
}

.game-mode-box h2 {
  margin: 0 0 10px;
  font-size: 24px;
}

.game-mode-box p {
  margin: 0;
  font-size: 18px;
  color: #ffffff;
}

.game-mode-box p3 {
  color: #ffffff;
}

#easy-mode {
  background-color: #28a746; 
  border: 1px solid #218838;
}

#medium-mode {
  background-color: #ffc107; 
  border: 1px solid #e0a800; 
}

#hard-mode {
  background-color: #dc3545; 
  border: 1px solid #c82333; 
}

#impossible-mode {
  background: linear-gradient(to bottom, #dc3545, #000000); 
  border: 1px solid #c82333; 
  color:  black;
}

.game-mode-box:hover {
  transform: translateY(-5px);
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
}

.button-search {
  display: none;
  width: 290px;
  height: 50px;

  top: -100px;
  position: relative;
  left: 595px;
  overflow: hidden;
  background: url('../css/Assets/searchButton.png') no-repeat center center;
  background-size: cover;
}

#searchInput {
  width: 100%;
  height: 100%;
  border: none;
  padding: 10px;
  box-sizing: border-box;
  background: transparent;
  color: white; 
  font-size: 16px;
  font-family: Arial, sans-serif;
}

.hintBox {
  display: none;
  width: 260px;
  height: 120px;
  background-color: #41e932;
  border: 3px solid #286f2a;
  border-radius: 10px;
  margin: 50px auto;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  position: relative;
  right: 25px;
  justify-content: space-around;
  align-items: flex-end;
  top: -70px;
}

.hint-ball-1 {
  width: 60px;
  height: 60px;
  background-color: red;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 35px;

  cursor: pointer;
}

.hint-ball-2 {
  width: 60px;
  height: 60px;
  background-color: red;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 35px;

  cursor: pointer;
}


.hint-ball-1 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hint-ball-2 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.hint-text {
  font-size: 12px;
  margin-top: 0;
  position: absolute; 
  bottom: 20px; 
}

.first-letter-tries-text {
  font-size: 12px;
  margin-top: 0;
  position: absolute; 
  bottom: 6px; 
}

.image-clue-tries-text {
  font-size: 12px;
  margin-top: 0;
  position: absolute; 
  bottom: 6px; 
}

.button-goBack {
  display: none;
  width: 100px;
  height: 40px;
  position: absolute;
  top: 250px;
  right: 1000px;
  background-color: #28a745; 
  color: white; 
  font-size: 16px;
  font-family: Arial, sans-serif;
  font-weight: bold;
  text-align: center;
  line-height: 40px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
}

.button-goBack:hover {
  background-color: #218838; 
  transform: scale(1.05);
}

.button-goBack:active {
  background-color: #1e7e34; 
  transform: scale(1);
}


/* Box with the character */
.boxContainer {
  display: none;
  justify-content: center;
  
  top: -120px;
  position: relative;
  right: 110px;
}

.box {
  display: inline-block;
  width: 80px; 
  height: 80px; 
  border: 1px solid #ccc;
  padding: 5px; 
  margin-right: 20px;
  background-color: #f9f9f9;
  margin-top: 40px;
  position: relative;
  left: 110px;
  border-radius: 0; 
}

.box-header {
  text-decoration: underline;
  color: #fff;
  position: absolute;
  top: -40px;
  left: 0;
  width: 100%;
  padding: 5px;
  text-align: center;
  font-weight: bold;
}

.box-content {
  color: #000000;
  font-size: 20px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px; 
}

.congrats-block {
  cursor: pointer;
  background: linear-gradient(135deg, #f0f0f0, #4CAF50);
  border: 2px solid #4CAF50;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 255, 0, 0.3), 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: center;
  max-width: 400px;
  width: 100%;
  top: -105px;
  position: relative;
  left: 520px;
  transition: all 0.3s ease-in-out;
}

.congrats-block:hover {
  box-shadow: 0 0 25px rgba(0, 255, 0, 0.5), 0 0 15px rgba(0, 0, 0, 0.2);
  transform: scale(1.05);
}

.congrats-block h1 {
  color: #0f6312;
  margin-bottom: 20px;
  font-weight: bold;
}

.congrats-block p {
  font-size: 16px;
  margin: 10px 0;
}

.congrats-block strong {
  color: #333;
}

.hidden {
  visibility: hidden;
  height: 0;
  overflow: hidden; 
}

/* Responsivity */
@media (min-width: 1600px) {
  body {
    padding: 0;
    margin: 0;
    min-height: 100vh;
  }

  .containerLogo {
    height: 120px;
  }

  .title {
    width: 430px;
    height: 140px;
    position: relative;
    left: 150px;
  }

  .logo {
    width: 420px;
    height: 120px;
    position: relative;
    right: 230px;
  }

  #subtitle {
    position: relative;
    left: 520px;
  }

  .button-game-progress {
    width: 300px;
    height: 25px;
    cursor: pointer;
  
    max-width: 250px;
    margin-top: 40px;
    position: relative;
    left: 500px;
  }

  .boxContainer {
    display: none;
    justify-content: center;
    
    margin-top: 40px;
    position: relative;
    right: 150px;
  }

  .box {
    display: inline-block;
    width: 80px; 
    height: 80px; 
    border: 1px solid #ccc;
    padding: 5px; 
    margin-right: 20px;
    background-color: #f9f9f9;
    margin-top: 40px;
    position: relative;
    top: -150px;
    left: 110px;
    border-radius: 0; 
  }
  
  .button-search {
    display: none;
    width: 290px;
    height: 50px;
  
    top: -80px;
    position: relative;
    left: 525px;
    overflow: hidden;
    background: url('../css/Assets/searchButton.png') no-repeat center center;
    background-size: cover;
  }

  .hintBox {
    display: none;
    width: 260px;
    height: 120px;
    background-color: #41e932;
    border: 3px solid #286f2a;
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    position: relative;
    right: 25px;
    top: -80px;
    justify-content: space-around;
    align-items: flex-end;
  }

  .congrats-block {
    cursor: pointer;
    background: linear-gradient(135deg, #f0f0f0, #4CAF50);
    border: 2px solid #4CAF50;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 255, 0, 0.3), 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    max-width: 400px;
    width: 100%;
    top: -160px;
    position: relative;
    left: 460px;
    transition: all 0.3s ease-in-out;
  }
}


